<tr>
    <td>
        {{this.listing_id}}
    </td>
    <td>
        {{this.listing_month}}
    </td>
    <td>
        {{this.listing_date}}
    </td>
    <td>
        {{this.broker}}
    </td>
    <td>
        {{this.revenue}}
    </td>
</tr>